* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
  
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  background-color: #1F2937;
  color: white;
  margin-bottom: 30px;
}

.top-bar {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.logo {
  width: 4vw;
  min-width: 50px;
}

nav ul {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

nav ul li {
  list-style: none;
  transition: background-color 0.17s, padding 0.17s;
}

nav ul li:hover {
  background-color: #E5E7EB;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white
}

nav ul li a:hover {
  color: #1F2937;
}

.first-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  gap: 80px;
  padding-bottom: 60px;
}

.first-section p {
  margin-bottom: 10px;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  max-width: 300px;
}

.first-section p {
  width: 350px;
  font-weight: 200;
}

.info-img {
  width: 40vw;
  min-width: 350px;
  height: 40vh;
 object-fit: cover;
}

.sign-up-btn {
  background-color: #3882F6;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.17s, color 0.17s;
}

.sign-up-btn:hover {
  background-color: white;
  color: #3882F6;
}

/* Second Section */
.second-section {
  background-color: white;
  color: black;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}

.gallery-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 10px;
  transition: box-shadow 0.17s;
  cursor: pointer;
  
}

.gallery-img:hover {
  box-shadow: 0 0 13px 4px rgb(105, 205, 238);
}

.img-fill {
  width: 100%;
}

figcaption {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

figcaption a {
  color: black;
  transition: color 0.17s;
}

figcaption a:hover {
  color: blue;
}

/* Third section */
.third-section {
  width: 100%;
  color: #1F2937;
  background-color: #E5E7EB;
  padding: 70px 100px;
}

.quote-container {
  width: 60%;
  min-width: 100%;
  margin: 0 auto;
}

.quote {
  text-align: justify;
  letter-spacing: -1px;
  font-style: italic;
  font-size: 36px;
  font-weight: 200;
  line-height: 39px;
  margin-bottom: 10px;
}

.quoter {
  text-align: right;
  font-weight: 900;
}

/* fourth section */
.fourth-section {
  padding: 90px;
}

.action {
  font-weight: 900;
}

.text {
  font-weight: 100;
}

.sign-up-section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  background-color: #3882F6;
  column-gap: 90px;
  color: white;
  border-radius: 6px;
}

.sign-up-btn-2 {
  padding: 5px 20px;
  color: white;
  background-color: #3882F6;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.17s, border 0.17s, color 0.17s;
}

.sign-up-btn-2:hover {
  background-color: white;
  border: 2px solid #3882F6;
  color: #3882F6;
}

/* footer */
footer {
  background-color: #1F2937;
  font-weight: 300;
  font-size: 14px;
  color: white;
  padding: 30px;
  text-align: center;
}





