* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.entire-page {
  font-family: Roboto;
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  background-color: #1F2937;
  color: white;
  margin-bottom: 30px;
}

.top-bar {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.logo {
  width: 4vw;
}

nav ul {
  display: flex; 
  gap: 50px;
}

nav ul li {
  list-style: none;
}

.first-section {
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 80px;
  padding-bottom: 60px;
}

.first-section p {
  margin-bottom: 10px;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  max-width: 300px;
}

.first-section p {
  width: 350px;
  font-weight: 200;
}



.info-img {
  width: 40vw;
  height: 40vh;
 object-fit: cover;
}

.sign-up-btn {
  background-color: #3882F6;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

/* Second Section */
.second-section {
  background-color: white;
  color: black;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}

.gallery-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid rgb(79, 79, 225);
  margin-bottom: 10px;
}

figcaption {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Third section */
.third-section {
  width: 100%;
  color: #1F2937;
  background-color: #E5E7EB;
  padding: 70px 100px;
}

.quote-container {
  width: 50em;
  margin: 0 auto;
}

.quote {
  text-align: justify;
  font-style: italic;
  font-size: 36px;
  font-weight: 200;
  line-height: 39px;
}

.quoter {
  text-align: right;
  font-weight: 900;
}

/* fourth section */
.fourth-section {
  width: 100%;
  padding: 90px;
}

.sign-up-section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #3882F6;
  column-gap: 90px;
  color: white;
  border-radius: 6px;
}

.sign-up-btn-2 {
  padding: 5px 20px;
  color: white;
  background-color: #3882F6;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}






