* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  background-color: rgb(50, 50, 80);
  color: white;
  margin-bottom: 20px;
}

.top-bar {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.logo {
  width: 4vw;
}

nav ul {
  display: flex; 
  gap: 50px;
}

nav ul li {
  list-style: none;
}

.first-section {
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 80px;
  padding: 0 0 60px 0;
}

.first-section p {
  margin-bottom: 10px;
}

h1 {
  width: 250px;
}

.first-section p {
  width: 350px;
}

.info-img-card {
  width: 30vw;
  height: auto;
  border: 3px solid;
}

.info-img {
  width: 100%;
}

.sign-up-btn {
  background-color: rgb(79, 79, 225);
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 7px;
}





